rbt-th = 'Roboto Thin', sans-serif
rbt-lt = 'Roboto Light', sans-serif
rbt-md = 'Roboto Medium', sans-serif
rbt-rg = 'Roboto Regular', sans-serif
rbt-bd = 'Roboto Bold', sans-serif
rbt-bl = 'Roboto Black', sans-serif

font-url(file)
	return '/assets/fonts/' + file

font-face(family, file, weight = 500, style = normal)
	@font-face
		font-family family
		src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
			url(font-url(file + '.woff2')) format('woff2'),
			url(font-url(file + '.woff')) format('woff')
		font-weight weight
		font-style style

font-face('Roboto Thin', 'roboto-thin-webfont',100)
font-face('Roboto Regular', 'roboto-regular-webfont',300)
font-face('Roboto Medium', 'roboto-medium-webfont')
font-face('Roboto Light', 'roboto-light-webfont',300)
font-face('Roboto Bold', 'roboto-bold-webfont',700)
font-face('Roboto Black', 'roboto-black-webfont',700)
