.page
	font-family rbt-rg
	font-size 16px
	background-image url('../images/bg/fk-bg-main.png')
	background-size cover
	background-position-y 90%
	background-repeat no-repeat
	background-attachment fixed
	color #fff
