.gallery
	font-size 0
	
	&__item
		display inline-block
		vertical-align middle
		width 33.33333%
		border 1px solid $granate
		position relative
		text-align center
		+below(991px)
			width 50%
	
	&__image
		width $(375px)
		height $(285px)
		
	&__caption
		position absolute
		bottom 0
		left 0
		width 100%
		font-size $(23.5px)
		text-align center
		color $black
		padding-top $(25px)
		padding-bottom $(25px)
		padding-left $(10px)
		padding-right $(10px)
		background rgba(255,255,255,.7)
		border-top 1px solid $granate