mixin news()

	+b.news
		+e.title Заголовок новости
		+e.img
			img(src='assets/images/gallery/3.jpg')
		+e.text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Заголовок, взгляд? Журчит жизни своих свой свой страну, пустился языком правилами города домах единственное букв вопроса послушавшись? Коварных, грустный, предложения!
		+e.link
			a(href='#') Подробнее...
